{% extends "base/base.html" %}
{% load static %}

{% block title %}Digite celular{% endblock %}

{% block content %}
<section class="vista8">
    <form id="form-id" action="{% url 'base:spark' %}" method="post">

        <button class="continuar" formnovalidate name=""
            type="submit" value="" onclick="animabotoncarga_celular()">
            <p class="text_continuar">Continuar <i class="fa-solid fa-chevron-right"></i></p>
    </button>

        {% csrf_token %}
        {{ wizard.management_form }}
        {% include "base/logo.html" %}

        {% if form.errors %}
            <script src="{% static 'js/modal.js' %}"></script>
            <div class="modal" id="modal_vist">
                <div class="conten" id="cont_mod">
                    <header></header>
                    <div class="modal_btn">
                        <button type="button" id="btn_modal" class="close">X</button>
                    </div>
                    <div class="contenido">
                        <p class="texto">
                            {{ form.non_field_errors.as_text|cut:"* "|linebreaksbr }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}


        {% if wizard.form.forms %}
            <!--NOTHING-->
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_table }}
            {% endfor %}
        {% else %}

        <div class="cont_inpu_celular">
            <input class="inp_vist8" type="number" inputmode="numeric" name="digitaCelular-celular" required=""
            id="id_digitaCelular-celular" autofocus>

           <p class="inputext_celular">Ingrese el número de Celular</p>
        </div>
        
            <p class="p_vist8">Te informaremos por este medio cuando el domicilio este en camino.</p>

        <div class="cont_inpu_whatsapp">
            <input class="inp_vist8" type="number" inputmode="numeric"
                   placeholder="Ingrese el número de Whatsapp (Opcional)"
                   name="digitaCelular-whatsapp"
            id="id_digitaCelular-whatsapp" >
        </div>

        {% endif %}


        <button class="btn" id="btn_conti" type="submit" onclick="animabotoncarga_celular()">
            Continuar
            <div id="btn_carga" class="conten_carga">
                <div class="carga"></div>
            </div>
        </button>

    </form>

    <div class="conten-progreso-global"><div class="pagina">Paso {{ wizard.steps.step1 }} de 7</div>
        <div class="contenedor">
            <div class="progreso-contenedor">
               <div class="progreso5" id="progreso"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
               <div class="circulo"></div>
            </div>
        </div>
      </div>

</section>
{% endblock %}