{% extends "base/base.html" %}
{% load static %}

{% block title %}Elige Municipio{% endblock %}

{% block content %}
<section class="vista6">
     <form id="form-id" action="{% url 'base:spark' %}" method="post">

        <button class="continuar" formnovalidate name=""
            type="submit" value="" onclick="animabotoncarga_municipio()">
            <p class="text_continuar">Continuar <i class="fa-solid fa-chevron-right"></i></p>
    </button>

        {% csrf_token %}
        {{ wizard.management_form }}
        {% include "base/logo.html" %}

        <h1 class="vist6">Elige el municipio donde enviaremos tu domicilio.</h1>

        <!--<input type="text" name="" list="list6" placeholder="Buscar.." id="inp_vist6">-->

        <p class="p_vist6">* Solo aplica para el departamento del Atlantico</p>
        {{ form.errors.municipio }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
        {% else %}


        <div class="filt">
            <input class="inpfilt" id="escri" type="text" placeholder="Buscar..."
            autocomplete="off">
            <div class="icon"> <span class="foricon"><i class="fa-solid fa-magnifying-glass"></i></span></div>
        </div>

            <div id="elecci" class="elec">
                {% for municipio in wizard.form.municipio %}
                <div class="con">
                <span class="radio">{{ municipio.tag }}</span>
            <label class="labelfil" for="{{ municipio.id_for_label }}">{{ municipio.choice_label }}</label>
            </div>
            {% endfor %}
            </div>

        {% endif %}
        <button class="btn" id="btn_conti" type="submit" onclick="animabotoncarga_municipio()">
            Continuar
            <div id="btn_carga" class="conten_carga">
                <div class="carga"></div>
            </div>
        </button>
    </form>

    <div class="conten-progreso-global"><div class="pagina">Paso {{ wizard.steps.step1 }} de 7</div>
        <div class="contenedor">
            <div class="progreso-contenedor">
               <div class="progreso3" id="progreso"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
               <div class="circulo"></div>
               <div class="circulo"></div>
               <div class="circulo"></div>
            </div>
        </div>
      </div>

</section>
{% endblock %}
