{% extends 'layouts/base.html' %}
{% load static %}
{% load my_filters %}
{% block extrastyle %}
<!-- datatable css https://datatables.net -->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">-->
<link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">
{% endblock extrastyle %}

{% block content %}

  <!-- [ Main Content ] start https://django-datta-able.appseed-srv1.com/ -->
  <div class="row">
    <!--[ daily rads section ] start-->
    {% now "j" as current_day %}
    <div class="col-md-4 col-xl-4">
      <div class="card daily-sales">
        <div class="card-block">
          <h6 class="mb-4">Radicados de hoy</h6>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center m-b-0">
                <!--<i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>-->
                {{ radicados_day|get_item:current_day }}</h3>
            </div>
            {% with percent_today=radicados_day|get_item:current_day|calc_percent:600 %}
            <div class="col-3 text-right">
              <p class="m-b-0">{{ percent_today }}%</p>
            </div>
          </div>
          <div class="progress m-t-30" style="height: 7px;">
            <div class="progress-bar progress-c-theme" role="progressbar" style="width: {{ percent_today }}%;"
              aria-valuenow="0" aria-valuemin="0" aria-valuemax="400"></div>
          </div>
          {% endwith %}
        </div>
      </div>
    </div>
    <!--[ daily rads section ] end-->
    <!--[ Monthly rads section ] starts-->
    <div class="col-md-4 col-xl-4">
      <div class="card Monthly-sales">
        <div class="card-block">
          <h6 class="mb-4">Radicados del mes</h6>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                <!--<i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>-->
                {{ radicados|length }}
              </h3>
            </div>
            {% with percent_month=radicados|length|calc_percent:avg_last_six_months %}
            <div class="col-3 text-right">
<!--              <p class="m-b-0">{{ percent_month }}%</p>-->
              <label class="label theme-bg text-white f-14 f-w-400 float-right"  data-toggle="tooltip"
                     title="Cantidad promedio de radicados de los últimos 6 meses es {{avg_last_six_months}}"
                     style="border-radius: 1rem;">{{ percent_month }}%</label>
            </div>
          </div>
          <div class="progress m-t-30" style="height: 7px;">
            <div class="progress-bar progress-c-theme2" role="progressbar" style="width: {{ percent_month }}%;"
              aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{avg_last_six_months}}"></div>
          </div>
          {% endwith %}
        </div>
      </div>
    </div>
    <!--[ Monthly rads section ] end-->
    <!--[ year rads section ] starts-->
    <div class="col-md-4 col-xl-4">
      <div class="card yearly-sales">
        <div class="card-block">
          <h6 class="mb-4">Dispositivos reconocidos en el mes</h6>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                <i class="feather icon-smartphone text-c-green f-30 m-r-10"></i>
                {{ radicados|calc_devices|length }}
              </h3>
            </div>
            <!--<div class="col-3 text-right">
              <p class="m-b-0">80%</p>
            </div>-->
          </div>
           <p class="m-0" style="height: 37px;"><br>Información capturada através de la IP.</p>
        </div>
      </div>
    </div>
    <!--[ year rads section ] end-->

  <!--Graphs-->
  <!-- [ Main Content ] start -->
    <!-- [ Morris Chart ] start -->
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Cantidad de radicaciones por día</h5>
        </div>
        <div class="card-block">
          <div id="morris-bar-chart" style="height:300px"></div>
        </div>
      </div>
    </div>

    <div class="col-xl-6" hidden>
      <div class="card">
        <div class="card-header">
          <h5>Bar [ Stacked ] Chart</h5>
        </div>
        <div class="card-block">
          <div id="morris-bar-stacked-chart" style="height:300px"></div>
        </div>
      </div>
    </div>

    <div class="col-xl-6" hidden>
      <div class="card">
        <div class="card-header">
          <h5>Line [ Angle ] Chart</h5>
        </div>
        <div class="card-block">
          <div id="morris-area-chart" style="height:300px"></div>
        </div>
      </div>
    </div>

    <div class="col-xl-6" hidden>
      <div class="card">
        <div class="card-header">
          <h5>Area [ Smooth ] Chart</h5>
        </div>
        <div class="card-block">
          <div id="morris-area-curved-chart" style="height:300px"></div>
        </div>
      </div>
    </div>

    <div class="col-xl-6" hidden>
      <div class="card">
        <div class="card-header">
          <h5>Line [ Angle ] Chart</h5>
        </div>
        <div class="card-block">
          <div id="morris-line-chart" class="ChartShadow" style="height:300px"></div>
        </div>
      </div>
    </div>

    <div class="col-xl-6" hidden>
      <div class="card">
        <div class="card-header">
          <h5>Line [ Smooth ] Chart</h5>
        </div>
        <div class="card-block">
          <div id="morris-line-smooth-chart" class="ChartShadow" style="height:300px"></div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Cantidad de radicaciones del mes por municipio</h5>
        </div>
        <div class="card-block">
          <div id="morris-donut-chart" style="height:300px"></div>
        </div>
      </div>
    </div>
    <!-- [ Morris Chart ] end -->
  <!-- [ Main Content ] end -->
  <!-- End Graphs-->

    <!--[ Recent Rads ] start-->
    <!--<div class="col-xl-12 col-md-12">
      <div class="card Recent-Users">
        <div class="card-header">
          <h5>Radicados Recientes</h5>
        </div>
        <div class="card-block px-0 py-3">
          <div class="table-responsive">
            <table id="myTable" class="table table-hover display">
              <thead>
                <tr>
                  <th></th>
                  <th>Celular</th>
                  <th>Municipio/Departamento</th>
                  <th>Dirección/Email</th>
                  <th>Fecha de radicado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% comment %}
              {% for rad in radicados_day|get_item:current_day|slice:":100" %}
                <tr class="unread">
                  <td>
                    <h6 class="mb-1">{{ rad.paciente_nombre }}</h6>
                    <p class="m-0">{{ rad.numero_radicado }}</p>
                  </td>
                  <td>
                    <h6 class="mb-1">{{ rad.cel_uno }}</h6>
                    <h6 class="text-muted">{{ rad.cel_dos|default_if_none:'' }}</h6>
                  </td>
                  <td>
                    <h6 class="mb-1">{{ rad.municipio }}</h6>
                  </td>
                  <td>
                    <h6 class="mb-1">{{ rad.direccion }}</h6>
                    <h6 class="mb-1">{{ rad.email }}</h6>
                  </td>
                  <td>
                    <h6 class="text-muted">
                      {{ rad.datetime|date:"j M Y H:i" }}
                    </h6>
                  </td>
                  <td>
                    <a href="#!" class="label theme-bg text-white f-12">Más</a>
                  </td>
                </tr>
              {% endfor %}
              {% endcomment %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>-->
    <!--[ Recent Rads ] end-->




    <!-- [ statistics rads chart ] start -->
    <!--<div class="col-xl-4 col-md-6">
      <div class="card card-event">
        <div class="card-block">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <h5 class="m-0">Upcoming Event</h5>
            </div>
            <div class="col-auto">
              <label class="label theme-bg2 text-white f-14 f-w-400 float-right">34%</label>
            </div>
          </div>
          <h2 class="mt-3 f-w-300">45<sub class="text-muted f-14">Competitors</sub></h2>
          <h6 class="text-muted mt-4 mb-0">You can participate in event </h6>
          <i class="fab fa-angellist text-c-purple f-50"></i>
        </div>
      </div>

    </div>-->
    <!-- [ statistics rads chart ] end -->
    <!--[social-media section] start-->

    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-block border-bottom">
          <div class="row d-flex align-items-center">
            <div class="col-auto">
              <i class="feather icon-user f-30 text-c-green"></i>
            </div>
            <div class="col">
              <h3 class="f-w-300">{{ qty_pacientes }}</h3>
              <span class="d-block text-uppercase">Usuarios atendidos</span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row d-flex align-items-center">
            <div class="col-auto">
              <i class="feather icon-user-plus f-30 text-c-blue"></i>
            </div>
            <div class="col">
              <h3 class="f-w-300">{{ qty_new_pacientes }}</h3>
              <span class="d-block text-uppercase">Nuevos usuarios en el mes</span>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="card card-social">-->
<!--        <div class="card-block border-bottom">-->
<!--          <div class="row align-items-center justify-content-center">-->
<!--            <div class="col-auto">-->
<!--              <i class="fab fa-facebook-f text-primary f-36"></i>-->
<!--            </div>-->
<!--            <div class="col text-right">-->
<!--              <h3>12,281</h3>-->
<!--              <h5 class="text-c-green mb-0">+7.2% <span class="text-muted">Total Likes</span></h5>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-block">-->
<!--          <div class="row align-items-center justify-content-center card-active">-->
<!--            <div class="col-6">-->
<!--              <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Target:</span>35,098</h6>-->
<!--              <div class="progress">-->
<!--                <div class="progress-bar progress-c-theme" role="progressbar" style="width:60%;height:6px;"-->
<!--                  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Duration:</span>3,539</h6>-->
<!--              <div class="progress">-->
<!--                <div class="progress-bar progress-c-theme2" role="progressbar" style="width:45%;height:6px;"-->
<!--                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-block border-bottom">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto">
              <i class="fab icon-activity text-c-blue f-36"></i>
            </div>
            <div class="col text-right">
              <h3>{{ radicados|length }}</h3>
              <h5 class="d-flex align-items-center justify-content-end">
                <p title="Hasta el {% now 'j' %} del mes pasado se realizaron {{qty_rads_mes_anterior_hasta_current_day}} radicaciones, lo cual representa el {{porcentaje_crecimiento}}."
                   class="{% if porcentaje_crecimiento|first in '+' %} text-c-green {% else %} text-c-red {% endif %}mb-0 m-r-10">{{porcentaje_crecimiento}}</p>
                <span class="text-muted">Total Radicados del Mes</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row align-items-center justify-content-center card-active">
            <div class="col-6">
              <h6 class="text-center  m-b-10"><i class="fas fa-circle text-c-purple f-10"></i><span class="text-muted m-r-5"> Medicamentos no autorizados:</span>{{qty_medicamentos_no_autorizados}}</h6>
<!--              <div class="progress">-->
<!--                <div class="progress-bar progress-c-green" role="progressbar" style="width:40%;height:6px;"-->
<!--                  aria-valuenow="{{qty_medicamentos_autorizados}}" aria-valuemin="0" aria-valuemax="{{ radicados|length }}"></div>-->
<!--              </div>-->
            </div>
            <div class="col-6">
              <h6 class="text-center m-b-10">
                <i class="fas fa-circle text-c-red f-10"></i>
                <span class="text-muted m-r-5"> Medicamentos autorizados:</span>{{qty_medicamentos_autorizados}}
              </h6>
            </div>
            <div class="col-12">
              <div class="progress" style="background-color: #E91E63;height: .6rem;">
                  <div class="progress-bar progress-c-purple" role="progressbar" style="width:70%;height:.6rem;"
                    aria-valuenow="{{qty_medicamentos_no_autorizados}}" aria-valuemin="0" aria-valuemax="{{ radicados|length }}"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-block border-bottom">
          <div class="row d-flex align-items-center">
            <div class="col-auto">
              <img style="width: 10rem;" src="{% static 'img/cajacopi_logo.png' %}" alt="">
            </div>
            <div class="col">
              <h3 class="f-w-300 text-center">{{ qty_pacientes_cajacopi }}</h3>
<!--              <span class="d-block text-uppercase">Cajacopi</span>-->
            </div>
          </div>
        </div>
        <div class="card-block border-bottom">
          <div class="row d-flex align-items-center">
            <div class="col-auto">
              <img style="width: 10rem;" src="{% static 'img/mutual_ser_logo.png' %}" alt="">
            </div>
            <div class="col">
              <h3 class="f-w-300 text-center">{{ qty_pacientes_mutualser }}</h3>
<!--              <span class="d-block text-uppercase">Cajacopi</span>-->
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row d-flex align-items-center">
            <div class="col-auto">
              <img style="width: 8rem;" src="{% static 'img/fomag_logo.png' %}" alt="">
            </div>
            <div class="col">
              <h3 class="f-w-300 text-center">{{ qty_pacientes_fomag }}</h3>
<!--              <span class="d-block text-uppercase">Usuarios atendidos</span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="col-md-6 col-xl-4">-->
<!--      <div class="card card-social">-->
<!--        <div class="card-block border-bottom">-->
<!--          <div class="row align-items-center justify-content-center">-->
<!--            <div class="col-auto">-->
<!--              <i class="fab fa-google-plus-g text-c-red f-36"></i>-->
<!--            </div>-->
<!--            <div class="col text-right">-->
<!--              <h3>10,500</h3>-->
<!--              <h5 class="text-c-blue mb-0">+5.9% <span class="text-muted">Total Likes</span></h5>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-block">-->
<!--          <div class="row align-items-center justify-content-center card-active">-->
<!--            <div class="col-6">-->
<!--              <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Target:</span>25,998</h6>-->
<!--              <div class="progress">-->
<!--                <div class="progress-bar progress-c-theme" role="progressbar" style="width:80%;height:6px;"-->
<!--                  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Duration:</span>7,753</h6>-->
<!--              <div class="progress">-->
<!--                <div class="progress-bar progress-c-theme2" role="progressbar" style="width:50%;height:6px;"-->
<!--                  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <!--[social-media section] end-->
    <!-- [ rating list ] starts-->
    <!--<div class="col-xl-4 col-md-6">
      <div class="card user-list">
        <div class="card-header">
          <h5>Rating</h5>
        </div>
        <div class="card-block">
          <div class="row align-items-center justify-content-center m-b-20">
            <div class="col-6">
              <h2 class="f-w-300 d-flex align-items-center float-left m-0">4.7 <i
                  class="fas fa-star f-10 m-l-10 text-c-yellow"></i></h2>
            </div>
            <div class="col-6">
              <h6 class="d-flex  align-items-center float-right m-0">0.4 <i
                  class="fas fa-caret-up text-c-green f-22 m-l-10"></i></h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <h6 class="align-items-center float-left"><i
                  class="fas fa-star f-10 m-r-10 text-c-yellow"></i>5</h6>
              <h6 class="align-items-center float-right">384</h6>
              <div class="progress m-t-30 m-b-20" style="height: 6px;">
                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;"
                  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-xl-12">
              <h6 class="align-items-center float-left"><i
                  class="fas fa-star f-10 m-r-10 text-c-yellow"></i>4</h6>
              <h6 class="align-items-center float-right">145</h6>
              <div class="progress m-t-30  m-b-20" style="height: 6px;">
                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 35%;"
                  aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-xl-12">
              <h6 class="align-items-center float-left"><i
                  class="fas fa-star f-10 m-r-10 text-c-yellow"></i>3</h6>
              <h6 class="align-items-center float-right">24</h6>
              <div class="progress m-t-30  m-b-20" style="height: 6px;">
                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 25%;"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-xl-12">
              <h6 class="align-items-center float-left"><i
                  class="fas fa-star f-10 m-r-10 text-c-yellow"></i>2</h6>
              <h6 class="align-items-center float-right">1</h6>
              <div class="progress m-t-30  m-b-20" style="height: 6px;">
                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 10%;"
                  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-xl-12">
              <h6 class="align-items-center float-left"><i
                  class="fas fa-star f-10 m-r-10 text-c-yellow"></i>1</h6>
              <h6 class="align-items-center float-right">0</h6>
              <div class="progress m-t-30  m-b-20" style="height: 6px;">
                <div class="progress-bar" role="progressbar" style="width:0;" aria-valuenow="0"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!-- [ rating list ] end-->
    <!--<div class="col-xl-8 col-md-12 m-b-30">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="false">Today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
            aria-controls="profile" aria-selected="true">This
            Week</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
            aria-controls="contact" aria-selected="false">All</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Activity</th>
                <th>Time</th>
                <th>Status</th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-1.jpg' %}" alt="activity-user">Ida Jorgensen</h6>
                </td>
                <td>
                  <h6 class="m-0">The quick brown fox</h6>
                </td>
                <td>
                  <h6 class="m-0">3:28 PM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-green">Done</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                </td>
              </tr>

              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-2.jpg' %}" alt="activity-user">Albert Andersen</h6>
                </td>
                <td>
                  <h6 class="m-0">Jumps over the lazy</h6>
                </td>
                <td>
                  <h6 class="m-0">2:37 PM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-red">Missed</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i>
                </td>
              </tr>

              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-3.jpg' %}" alt="activity-user">Silje Larsen</h6>
                </td>
                <td>
                  <h6 class="m-0">Dog the quick brown</h6>
                </td>
                <td>
                  <h6 class="m-0">10:23 AM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-purple">Delayed</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-1.jpg' %}" alt="activity-user">Ida Jorgensen</h6>
                </td>
                <td>
                  <h6 class="m-0">The quick brown fox</h6>
                </td>
                <td>
                  <h6 class="m-0">4:28 PM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-green">Done</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Activity</th>
                <th>Time</th>
                <th>Status</th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-2.jpg' %}" alt="activity-user">Albert Andersen</h6>
                </td>
                <td>
                  <h6 class="m-0">Jumps over the lazy</h6>
                </td>
                <td>
                  <h6 class="m-0">2:37 PM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-red">Missed</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-1.jpg' %}" alt="activity-user">Ida Jorgensen</h6>
                </td>
                <td>
                  <h6 class="m-0">The quick brown fox</h6>
                </td>
                <td>
                  <h6 class="m-0">3:28 PM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-green">Done</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-1.jpg' %}" alt="activity-user">Ida Jorgensen</h6>
                </td>
                <td>
                  <h6 class="m-0">The quick brown fox</h6>
                </td>
                <td>
                  <h6 class="m-0">4:28 PM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-green">Done</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-3.jpg' %}" alt="activity-user">Silje Larsen</h6>
                </td>
                <td>
                  <h6 class="m-0">Dog the quick brown</h6>
                </td>
                <td>
                  <h6 class="m-0">10:23 AM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-purple">Delayed</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Activity</th>
                <th>Time</th>
                <th>Status</th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-3.jpg' %}" alt="activity-user">Silje Larsen</h6>
                </td>
                <td>
                  <h6 class="m-0">Dog the quick brown</h6>
                </td>
                <td>
                  <h6 class="m-0">10:23 AM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-purple">Delayed</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-1.jpg' %}" alt="activity-user">Ida Jorgensen</h6>
                </td>
                <td>
                  <h6 class="m-0">The quick brown fox</h6>
                </td>
                <td>
                  <h6 class="m-0">3:28 PM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-green">Done</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-2.jpg' %}" alt="activity-user">Albert Andersen</h6>
                </td>
                <td>
                  <h6 class="m-0">Jumps over the lazy</h6>
                </td>
                <td>
                  <h6 class="m-0">2:37 PM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-red">Missed</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                      src="{% static 'assets/images/user/avatar-1.jpg' %}" alt="activity-user">Ida Jorgensen</h6>
                </td>
                <td>
                  <h6 class="m-0">The quick brown fox</h6>
                </td>
                <td>
                  <h6 class="m-0">4:28 PM</h6>
                </td>
                <td>
                  <h6 class="m-0 text-c-green">Done</h6>
                </td>
                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>-->

  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}
{% block extra_js %}
<!-- chart-morris Js -->
<script src="{% static 'assets/plugins/chart-morris/js/raphael.min.js' %}"></script>
<script src="{% static 'assets/plugins/chart-morris/js/morris.min.js' %}"></script>
<script src="{% static 'assets/js/pages/chart-morris-custom.js' %}" data-radicados="{{ radicados_day|jsonify }}" data-radicados_mun="{{ radicados_mun|jsonify }}"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#myTable').DataTable();
});

</script>
{% endblock extra_js %}