{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body id="content">
    <div>
        <h2>
            <a href="{% url 'base:home' %}">Logifarma</a>
        </h2>
        <p>Esta aplicación radica domicilios.</p>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
