{% extends "base/base.html" %}
{% load static %}
{% load my_filters %}

{% block title %}Autorización de servicio{% endblock %}

{% block content %}
<section class="vista3">
    <form id="form-id" action="" method="post">

        <!-- formnovalidate has been removed -->
        <button class="continuar" name=""
                type="submit" value="" onclick="animabotoncarga_autorizacion()">
                <p class="text_continuar">Continuar <i class="fa-solid fa-chevron-right"></i></p>
        </button>

        {% csrf_token %}
        {{ wizard.management_form }}

        {% include "base/logo.html" %}

        {% if form.errors %}
            {% include "modals/base.html" with modal_context=form|get_modal_context  %}
        {% endif %}

        {% if wizard.form.forms %}
            <!--NOTHING-->
            {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form.as_table }}
                {% endfor %}
        {% else %}
        <div class="cont_inpu_auto">
            <input required type="number" inputmode="numeric" class="inp_vist3"
               name="autorizacionServicio-num_autorizacion"
               min="100000" id="id_autorizacionServicio-num_autorizacion" autofocus>

               <p class="inputext_auto">Ingresa el número de Autorización</p>
            </div>
        {% endif %}
        <p class="vist3_t">
            Validaremos que la autorización este activa <br>

        </p>
        <div class="vist3_img">
            <img class="vist3" src="{% static 'img/img_autorizacion.gif' %}" alt="">
        </div>

        <p class="vist3_t2">
            Si no cuentas con el número de autorización por favor
            comunícate con Cajacopi-EPS para mayor información:
        </p>
        <div class="tet">
            <a class="vist3" href="tel:018000111446">018000 111 446</a>
        </div>

        <button class="btn" id="btn_conti" type="submit">
            <span class="btn-text">Continuar</span>
            <span class="loader" style="display: none;"></span>
        </button>

    </form>

    
    <div class="conten-progreso-global"> <div class="pagina">Paso {{ wizard.steps.step1 }} de 7</div>
        <div class="contenedor">
            <div class="progreso-contenedor">
               <div class="progreso" id="progreso"></div>
               <div class="circulo active"></div>
               <div class="circulo"></div>
               <div class="circulo"></div>
               <div class="circulo"></div>
               <div class="circulo"></div>
               <div class="circulo"></div>
            </div>
        </div>
      </div>

</section>
{% endblock %}

{%  block extrajs %}
<script>
    const btn = document.getElementById("btn_conti");
    const form = btn.form;

    form.addEventListener("submit", function(e) {
        // This event only fires after the form has passed validation.
        const text = btn.querySelector(".btn-text");
        const loader = btn.querySelector(".loader");
        text.style.display = "none";
        loader.style.display = "inline-block";
        btn.disabled = true;
        alert('Submetendo formulario');
    });

    document.addEventListener('DOMContentLoaded', function () {
    {% if form.errors %}
        {% with form|get_modal_context as modal_context  %}
            console.log("Formulario con errores, calculando modal_context");
            {% if modal_context %}
                const dialog = document.getElementById('error-modal');
                if (dialog) {
                    console.log('Abriendo modal');
                    dialog.show();
                }
            {% endif %}
        {% endwith %}
    {% endif %}
    });
</script>
{% endblock %}