{% extends "base/base.html" %}

{% block title %}Autorización de servicio{% endblock %}

{% block content %}
    <h1>Autorización de servicio</h1>
    <p>Ingresa el número de autorización de ser...</p>
    {% for field in form %}
        {{ field.error }}
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            <!--<input type="hidden" name="contact_wizard-current_step" value="autorizacionServicio" id="id_contact_wizard-current_step">-->
            <label for="id_autorizacionServicio-num_autorizacion">Num autorizacion:</label>
            <input type="number" name="autorizacionServicio-num_autorizacion" min="100000" required="" id="id_autorizacionServicio-num_autorizacion":>
        {% else %}
            {{ wizard.form }}
        {% endif %}
        <input type="submit" value="Continuar"/>
    </form>
{% endblock %}