{% extends "base/base.html" %}
{% load static %}

{% block title %}Autorización de servicio{% endblock %}

{% block content %}
<section class="vista3">
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}

        {% include "base/logo.html" %}

        {% if form.errors %}
            <script src="{% static 'js/modal.js' %}"></script>
            <div class="modal" id="modal_vist">
                <div class="conten" id="cont_mod">
                    <header></header>
                    <div class="modal_btn">
                        <button type="button" id="btn_modal" class="close">X</button>
                    </div>
                    <div class="contenido">
                        <p class="texto">
                           {{ form.errors.num_autorizacion.as_text|cut:"* "|linebreaksbr }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="vist3_text">
            <p class="vist3">Ingresa el número de</p>
            <h1 class="vist3">Autorización de servicio</h1>
        </div>

        {% if wizard.form.forms %}
            <!--NOTHING-->
            {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form.as_table }}
                {% endfor %}
        {% else %}
            <input required type="number" placeholder="Digite el número.." class="inp_vist3"
               name="autorizacionServicio-num_autorizacion"
               min="100000" id="id_autorizacionServicio-num_autorizacion">
        {% endif %}
        <p class="vist3_t">
            Validemos que la autorización este activa <br>
            imagen de referencia
        </p>
        <div class="vist3_img">
            <img class="vist3" src="{% static 'img/ImgAutorizacion.jpg' %}" alt="">
        </div>

        <p class="vist3_t2">
            Si no cuenta con el número de autorización por favor
            comunícate con Cajacopi-EPS para mayor información:
        </p>
        <div class="tet">
            <a class="vist3" href="">08000 111 446</a>
        </div>

        <!--<button class="btn" type="submit">
            <p>Continuar</p>
            <div class="conten_carga">
                <div class="carga"></div>
            </div>
        </button>-->
        <button class="btn_muni" type="submit">Continuar</button>

    </form>
</section>
{% endblock %}
