{% extends "base/base.html" %}

{% block title %}Dirección{% endblock %}

{% block content %}
<section id="vist5">
    <button id="btn_5"><p id="btn">< Atras</p></button>

    <div id="vist5">
        <img id="img1" src="../static/img/LogLogifarma.png" alt="">
    </div>

    <h1 id="vist5">¿A que direccion enviaremos tu domicilio?</h1>

    <p id="vist5">
        El envio de tu domicilio sera Gratis.
        Te lo haremos llegar lo mas pronto posible
    </p>

    <div id="vist5_1">
        <img id="img2" src="../static/img/LogLogifdomicilio.png">
        <img id="img3" src="../static/img/Imagen1.png" alt="">
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        <button id="btn_vist5" type="submit">Entiendo</button>
    </form>
</section>
{% endblock %}
