{% extends "base/base.html" %}
{% load static %}

{% block title %}Dirección{% endblock %}

{% block content %}
<section class="vista5">
     <form id="form-id" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% include "base/logo.html" %}

        <h1 class="vist5">¿A que dirección enviaremos tu domicilio?</h1>

        <p class="vist5">
            El envio de tu domicilio será Gratis.
            Te lo haremos llegar lo más pronto posible
        </p>

        <div class="vist5_1">
            <img class="img3" src="{% static 'img/Imagen1.png' %}" alt="">
        </div>

        <button class="btn" id="btn_conti" type="submit" onclick="cargar()">
            Entiendo
            <div id="btn_carga" class="conten_carga">
                <div class="carga"></div>
            </div>
        </button>
    </form>
</section>
{% endblock %}
