{% extends "base/base.html" %}
{% load static %}

{% block title %}Digite un correo electrónico{% endblock %}

{% block content %}
<section class="vista9">

    <SCRIPT LANGUAGE="JavaScript">
        history.forward()
        </SCRIPT>
        
    <form id="form-id" class="form" action="" method="post">

        <button class="continuar" formnovalidate name="" onclick="animabotoncarga_general()"
            type="submit" value="">
            <p class="text_continuar">Continuar <i class="fa-solid fa-chevron-right"></i></p>
    </button>

        {% csrf_token %}
        {{ wizard.management_form }}
        {% include "base/logo.html" %}

        {% if form.errors %}
            {% include "base/modal.html" with txt=form.non_field_errors.as_text|cut:"* "|linebreaksbr %}
        {% endif %}

        {% if wizard.form.forms %}
            <!--NOTHING-->
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_table }}
            {% endfor %}
        {% else %}
            <h1 class="vist9_t">Ingresa el Correo electrónico</h1>

            <div class="valid">
                <div class="icons">
                    <span class="icon1 fas fa-exclamation"></span>
                    <span class="icon2 fas fa-check"></span>
                </div>
                <input class="inp_vist9" type="text" placeholder="ejemplo@gmail.com, ejemplo2@gmail.com" name="digitaCorreo-email" id="id_digitaCorreo-email">

               <div class="text-error">Uno de los correos ingresados no es válido.</div>
            </div>

        {% endif %}

        <div class="load" id="load_a">
            <div class="carga_animacion">
                <img class="cargac" id="logo-loader" src="{% static 'img/LogLogifarma.png' %}" alt="">
            </div>
            </div>


        <button class="btn" id="btn_final" type="submit" onclick="animabotoncarga_correo()">
            Continuar
        <div id="btn_carga" class="conten_carga">
                <div class="carga"></div>
            </div>
        </button>

    </form>

    <div class="conten-progreso-global"><div class="pagina">Paso {{ wizard.steps.step1 }} de 7</div>
        <div class="contenedor">
            <div class="progreso-contenedor">
               <div class="progreso6" id="progreso"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
               <div class="circulo active"></div>
            </div>
        </div>
      </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/LoadGo/2.1/loadgo-nojquery.min.js"></script>
    <script src="{% static 'js/carga_final.js' %}?ver=1"></script>
</section>
{% endblock %}