{% extends "base/base.html" %}
{% load static %}

{% block title %}Digite celular{% endblock %}

{% block content %}
<section class="vista9">
    <form id="form-id" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% include "base/logo.html" %}

        {% if form.errors %}
            <script src="{% static 'js/modal.js' %}"></script>
            <div class="modal" id="modal_vist">
                <div class="conten" id="cont_mod">
                    <header></header>
                    <div class="modal_btn">
                        <button type="button" id="btn_modal" class="close">X</button>
                    </div>
                    <div class="contenido">
                        <p class="texto">
                           {{ form.errors.celular.as_text|cut:"* "|linebreaksbr }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}

        <h1 class="ti_vist9">¿Cual es su número de celular?</h1>

        {% if wizard.form.forms %}
            <!--NOTHING-->
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_table }}
            {% endfor %}
        {% else %}

            <input class="inp_vist8" type="number" inputmode="numeric" name="digitaCelular-celular" required=""
                   id="id_digitaCelular-celular" placeholder="Ingresar su número.">
            <p class="p_vist9">Te informaremos por este medio cuando el domicilio este en camino.</p>

        {% endif %}


        <button class="btn" id="btn_conti" type="submit" onclick="cargar()">
            Continuar
            <!-- <div id="btn_carga" class="conten_carga">
                <div class="carga"></div> -->
            </div>
        </button>

    </form>
</section>
{% endblock %}
