{% extends "base/base.html" %}
{% load static %}

{% block title %}Digite celular{% endblock %}

{% block content %}
<section class="vista9">
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% include "base/logo.html" %}

        <h1 class="ti_vist9">¿Cual es su número de celular?</h1>

        {% if wizard.form.forms %}
            <!--NOTHING-->
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_table }}
            {% endfor %}
        {% else %}
            <input class="inp_vist9" type="number" name="digitaCelular-celular" required=""
                   id="id_digitaCelular-celular" placeholder="Digitar..">
            <p class="p_vist9">Te informaremos por este medio cuando el domicilio este en camino.</p>

            <h1 class="vist9_t">¿Cual es tu Correo electrónico?</h1>
            <input class="inp_vist9" type="email" name="digitaCelular-email" id="id_digitaCelular-email"
                   placeholder="Digitar..">

            <p class="vist9_t">(Este campo no es obligatorio).</p>
        {% endif %}

        <div class="load" id="load_a">
                <img class="cargac" src="{% static 'img/Loading.gif' %}" alt="">
        </div>


        <button class="btn" id="btn_final" type="submit">Finalizar</button>

    </form>

    <script src="{% static 'js/carga_final.js' %}"></script>
</section>
{% endblock %}
