{% extends "base/base.html" %}
{% load static %}

{% block title %}Digita Dirección{% endblock %}

{% block content %}
<section class="vista8">
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}

        {% include "base/logo.html" %}

        <h1 class="vist8">¿A que dirección enviamos tu domicilio?</h1>

        {{ form.errors.direccion }}
        {% if wizard.form.forms %}
            <!--NOTHING-->
            {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form.as_table }}
                {% endfor %}
        {% else %}
            <input class="inp_vist8 " type="text" name="digitaDireccion-direccion" maxlength="40"
                   required="" id="id_digitaDireccion-direccion" placeholder="...">
            <p class="p_vist8">Digita la dirección donde enviaremos tu domicilio.</p>
        {% endif %}
        <button class="btn" type="submit">Continuar</button>
    </form>
</section>
{% endblock %}

