{% extends "base/base.html" %}
{% load static %}

{% block title %}Digite celular{% endblock %}

{% block content %}
<section class="vista9">

    <SCRIPT LANGUAGE="JavaScript">
        history.forward()
        </SCRIPT>
        
    <form id="form-id" class="form" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% include "base/logo.html" %}

        {% if form.errors %}
            <script src="{% static 'js/modal.js' %}"></script>
            <div class="modal" id="modal_vist">
                <div class="conten" id="cont_mod">
                    <header></header>
                    <div class="modal_btn">
                        <button type="button" id="btn_modal" class="close">X</button>
                    </div>
                    <div class="contenido">
                        <p class="texto">
                           {{ form.errors.correo.as_text|cut:"* "|linebreaksbr }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if wizard.form.forms %}
            <!--NOTHING-->
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_table }}
            {% endfor %}
        {% else %}
            <h1 class="vist9_t">¿Cual es tu Correo electrónico?</h1>

            <div class="valid">
                <div class="icons">
                    <span class="icon1 fas fa-exclamation"></span>
                    <span class="icon2 fas fa-check"></span>
                </div>
                <input class="inp_vist9" type="email" placeholder="Ingresa tu correo (Opcional)." name="digitaCorreo-email" id="id_digitaCorreo-email"  onkeyup="corrvali()">
                             
               <div class="text-error">Digite un correo válido</div>
            </div>

        {% endif %}

        <div class="load" id="load_a">
            <div class="carga_animacion">
                <img class="cargac" id="logo-loader" src="{% static 'img/LogLogifarma.png' %}" alt="">
            </div>
            </div>


        <button class="btn" id="btn_final" type="submit" >Continuar</button>

    </form>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/LoadGo/2.1/loadgo-nojquery.min.js"></script>
    <script src="{% static 'js/carga_final.js' %}"></script>
</section>
{% endblock %}
