{% extends "base/base.html" %}
{% load static %}

{% block title %}Elige el barrio{% endblock %}

{% block content %}
<section class="vista7">
     <form id="form-id" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}

        {% include "base/logo.html" %}

        {{ form.errors.barrio }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
        {% else %}

            <div class="cont_inpu_direccion">
            <input required class="inp_vist8 " type="text"
                   name="digitaDireccionBarrio-direccion" autofocus
                   maxlength="40" id="id_digitaDireccionBarrio-direccion">

               <p class="inputext_direccion">Ingrese la Dirección</p>
            </div>
           

            <h1 class="vist7">Elige el barrio.</h1>

            <div class="filt"> 
                <input class="inpfilt" id="escri" type="text" placeholder="Buscar...">
                <div class="icon"> <span class="foricon"><i class="fa-solid fa-magnifying-glass"></i></span></div>
            </div>
            
            <div id="elecci" class="elec">
                {% for barrio in wizard.form.barrio %}
                <div class="con">
                <span class="radio">{{ barrio.tag }}</span>
            <label class="labelfil" for="{{ barrio.id_for_label }}">{{ barrio.choice_label }}</label>
            </div>
            {% endfor %}
            </div>

        {% endif %}
        <button class="btn" id="btn_conti" type="submit" onclick="animabotoncarga_direccion()">
            Continuar
            <div id="btn_carga" class="conten_carga">
                <div class="carga"></div>
            </div>
        </button>
    </form>
</section>
{% endblock %}
