{% extends "base/base.html" %}
{% load static %}

{% block title %}Listo{% endblock %}

{% block content %}
<section class="vista10">


    <div class="vist1">
        <img class="img1" src="{% static 'img/LogLogifarma.png' %}" alt="">
    </div>
    <h1 class="vist10">¡Listo, {{P_NOMBRE|title}}!</h1>

    <h1 class="vist10">¡Proceso terminado!</h1>

    <p class="vist10">
        Nos encontramos haciendo la validación de tus
        documentos, si todo está correcto un agente le
        notificará la radicación exitosa de su solicitud.
    </p>

    <a href="{% url 'base:home' %}" class="btn" id="btn_conti">
        <button class="btn-text">Continuar</button>
        <button class="loader" style="display: none;"></button>
    </a>

</section>
{% endblock %}