{% extends "base/base.html" %}

{% block title %}Elige Barrio{% endblock %}

{% block content %}
    <h2>Elige el Barrio</h2>
    <p>Elige el barrio donde enviaremos tu domicilio</p>
    {% for field in form %}
        {{ field.error }}
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_table }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}
        </table>
        <input type="submit" value="Continuar"/>
    </form>
{% endblock %}

