{% extends "base/base.html" %}
{% load static %}

{% block title %}Elige Municipio{% endblock %}

{% block content %}
<section class="vista6">
     <form id="form-id" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% include "base/logo.html" %}

        <h1 class="vist6">Elige el municipio donde enviaremos tu domicilio.</h1>

        <!--<input type="text" name="" list="list6" placeholder="Buscar.." id="inp_vist6">-->

        <p class="p_vist6">* Solo aplica para el departamento del Atlantico</p>
        {{ form.errors.municipio }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
        {% else %}
            <div class="elec">
                <label class="label_vist"></label><br>
                {{ wizard.form }}
            </div>
        {% endif %}
        <button class="btn_muni" id="btn_conti" type="submit">Continuar</button>
    </form>
</section>
{% endblock %}

