{% extends "base/base.html" %}
{% load static %}

{% block title %}Elige Municipio{% endblock %}

{% block content %}
<section class="vista6">
     <form id="form-id" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% include "base/logo.html" %}

        <h1 class="vist6">Elige el municipio donde enviaremos tu domicilio.</h1>

        <!--<input type="text" name="" list="list6" placeholder="Buscar.." id="inp_vist6">-->

        <p class="p_vist6">* Solo aplica para el departamento del Atlantico</p>
        {{ form.errors.municipio }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
        {% else %}


        <div class="filt"> 
            <input class="inpfilt" id="escri" type="text" placeholder="Buscar...">
            <div class="icon"> <span class="foricon"><i class="fa-solid fa-magnifying-glass"></i></span></div>
        </div>

            <div id="elecci" class="elec">
                {% for municipio in wizard.form.municipio %}
                <div class="con">
                <span class="radio">{{ municipio.tag }}</span>
            <label class="labelfil" for="{{ municipio.id_for_label }}">{{ municipio.choice_label }}</label>
            </div>
            {% endfor %}
            </div>
            
        {% endif %}
        <button class="btn" id="btn_conti" type="submit" onclick="cargar5()">
            Continuar
            <!-- <div id="btn_carga" class="conten_carga">
                <div class="carga"></div> -->
            </div>
        </button>
    </form>
    <!-- <script src="{% static 'js/buscador.js' %}"></script> -->
</section>
{% endblock %}

