{% extends "base/base.html" %}
{% load static %}

{% block title %}Elige Municipio{% endblock %}

{% block content %}
<section class="vista6">
     <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% include "base/logo.html" %}

        <h1 class="vist6">Elige el municipio donde enviaremos tu domicilio.</h1>

        <!--<input type="text" name="" list="list6" placeholder="Buscar.." id="inp_vist6">-->

        <p class="p_vist6">* Solo aplica para el departamento del Atlantico</p>
        {{ form.errors.municipio }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
        {% else %}
            <div class="elec">
                <input class="inp_vist" type="hidden" name="contact_wizard-current_step"
                       value="eligeMunicipio" id="id_contact_wizard-current_step">
                <label class="label_vist" for="id_eligeMunicipio-municipio">Municipio:</label>
                <select class="select_opt" name="eligeMunicipio-municipio" id="id_eligeMunicipio-municipio">
                    <option value="0">Escoja un municipio</option>
                    <option value="1">Barranquilla, Atlantico</option>
                    <option value="2">Soledad, Atlantico</option>
                    <option value="3">Malambo, Atlantico</option>
                    <option value="4">Baranoa, Atlantico</option>
                    <option value="5">Galapa, Atlantico</option>
                </select>
            </div>
        {% endif %}
        <button class="btn_muni" type="submit">Continuar</button>
    </form>
</section>
{% endblock %}

