{% extends "base/base.html" %}
{% load static %}

{% block title %}Foto de la fórmula{% endblock %}
{% block js %}
<script>
(function() {
  // The width and height of the captured photo. We will set the
  // width to the value defined here, but the height will be
  // calculated based on the aspect ratio of the input stream.

  var width = 320;    // We will scale the photo width to this
  var height = 0;     // This will be computed based on the input stream

  // |streaming| indicates whether or not we're currently streaming
  // video from the camera. Obviously, we start at false.

  var streaming = false;

  // The various HTML elements we need to configure or control. These
  // will be set by the startup() function.

  var video = null;
  var canvas = null;
  var photo = null;
  var startbutton1 = null;
  var startbutton2 = null;

  function startup() {
    video = document.getElementById('video');
    canvas = document.getElementById('canvas');
    photo = document.getElementById('photo');
    input = document.getElementById('id_fotoFormulaMedica-src');
    startbutton1 = document.getElementById('tomarfoto-btn');
    startbutton2 = document.getElementById('tomarotrafoto-btn');

    navigator.mediaDevices.getUserMedia({video: { facingMode: "environment" }, audio: false})
    .then(function(stream) {
      video.srcObject = stream;
      video.play();
    })
    .catch(function(err) {
      console.log("An error occurred: " + err);
    });

    video.addEventListener('canplay', function(ev){
      if (!streaming) {
        height = video.videoHeight / (video.videoWidth/width);

        // Firefox currently has a bug where the height can't be read from
        // the video, so we will make assumptions if this happens.

        if (isNaN(height)) {
          height = width / (4/3);
        }

        video.setAttribute('width', width);
        video.setAttribute('height', height);
        canvas.setAttribute('width', width);
        canvas.setAttribute('height', height);
        streaming = true;
      }
    }, false);

    startbutton1.addEventListener('click', function(ev){
      takepicture();
      ev.preventDefault();
    }, false);
    clearphoto();
  }

  // Fill the photo with an indication that none has been
  // captured.

  function clearphoto() {
    var context = canvas.getContext('2d');
    context.fillStyle = "#AAA";
    context.fillRect(0, 0, canvas.width, canvas.height);

    var data = canvas.toDataURL('image/png');
    photo.setAttribute('src', data);
  }

  // Capture a photo by fetching the current contents of the video
  // and drawing it into a canvas, then converting that to a PNG
  // format data URL. By drawing it on an offscreen canvas and then
  // drawing that to the screen, we can change its size and/or apply
  // other changes before drawing it.

  function takepicture() {
    var context = canvas.getContext('2d');
    if (width && height) {
      canvas.width = width;
      canvas.height = height;
      context.drawImage(video, 0, 0, width, height);

      var data = canvas.toDataURL('image/png');
      photo.setAttribute('src', data);

      input.value = data
      var continuarbtn = document.getElementById("continuar-btn");
      continuarbtn.style.display = "block";

      startbutton1.style.display = "none";
      startbutton2.style.display = "block"

      video.style.display = "none"
      photo.style.display = "unset"
    } else {
      clearphoto();
    }
  }

  // Set up our event listener to run the startup process
  // once loading is complete.
  window.addEventListener('load', startup, false);
})();

function myFunction() {
    var startbutton1 = document.getElementById('tomarfoto-btn');
    var startbutton2 = document.getElementById('tomarotrafoto-btn');
    var continuarbtn = document.getElementById("continuar-btn");
    var video = document.getElementById('video');
    var photo = document.getElementById('photo');
      continuarbtn.style.display = "none";
      startbutton1.style.display = "grid";
      startbutton2.style.display = "none";
      photo.style.display = "none";
      video.style.display = "initial";
}
</script>
{% endblock %}

{% block content %}
<section id="vist4">
    <button id="btn_4"><p id="btn">< Atras</p></button>

    <div id="vist4">
        <img id="img1" src="../static/img/LogLogifarma.png" alt="">
    </div>

    <h1 id="vist4">¡Envia fotografia de la formula medica!</h1>
    <p id="vist4">Tomar foto de la formula medica</p>
    <p id="vist4_1"> Recuerda, los medicamenos de la autorizacion deben coincidir con los de la formula</p>
    {% for field in form %}
        {{ field.error }}
    {% endfor %}
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
            {% else %}
                <div class="row mt-3">
                    <video autoplay loop muted playsinline id="video">Video stream not available.</video>
                    <input id="id_fotoFormulaMedica-src" value=""
                           name="fotoFormulaMedica-src" type="text"
                           style="display: none;">
                    <canvas id="canvas" style="display: none;"></canvas>
                    <img id="photo" alt="your image" style="display: none;">
                   <!--<input type="hidden" name="contact_wizard-current_step" value="fotoFormulaMedica" id="id_contact_wizard-current_step">-->
                   <!--<label for="id_fotoFormulaMedica-src">Foto:</label>
                   <td>
                      <input type="file" name="fotoFormulaMedica-src" accept="image/*"
                             required="" id="id_fotoFormulaMedica-src">
                    </td>-->
                </div>
                <div class="row mt-3">
                    <div id='tomarfoto-btn' class="col" style="display: grid;">
                        <button class="btn btn-primary" type="button" >Tomar Foto</button>
                    </div>
                    <div id='tomarotrafoto-btn' class="col" style="display: none;" onClick="myFunction()">
                        <button class="btn btn-danger" type="button" >Tomar Otra Foto</button>
                    </div>
                    <div id='continuar-btn' class="col" style="display: none;">
                        <input type="submit" class="btn btn-success" value="Continuar"/>
                    </div>
                </div>
            {% endif %}
        </form>
</section>
{% endblock %}