{% extends "base/base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section class="vista1">
    <form id="form-id" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        <div class="vist1">
            <img class="img1" src="{% static 'img/LogLogifarma.png' %}" alt="">
        </div>
        <div class="vist1_1">
            <img class="img2" src="{% static 'img/IconAdvertencia.jpg' %}" alt="">
        </div>

        <article class="vist1">
            <p class="vist1">
                Estas por radicar tu domicilio.<br><br>
                Una vez finalices con tu solicitud, iniciaremos la
                gestión para que el domicilio sea enviado lo más
                pronto posible.
            </p>
        </article>
        <button class="btn" type="submit">Continuar</button>
    </form>
</section>
{% endblock %}


