{% extends "base/base.html" %}
{% load static %}

{% block title %}Instrucciones{% endblock %}

{% block content %}
<section class="vista2">
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}

        {% include "base/logo.html" %}

        <div class="vist2_text">
            <h1>Paso a paso</h1>
            <p>¡Es muy fácil de hacerlo! <br>La solicitud cuenta con <strong> 4 pasos...</strong></p>
        </div>

        <nav class="vist2">
            <div class="img">
                <img class="vist2" src="{% static 'img/IconAutorizacion.jpg' %}" alt="">
                <p class="vist2"><strong>1.Autorización de servicio</strong><br>
                    Debes contar con el número de autorización de servicio de
                    Cajacopi-EPS.
                </p>
            </div>
            <div class="img">
                <img class="vist2" src="{% static 'img/IconFormulaMedica.jpg' %}" alt="">
                <p class="vist2"><strong>2.Formula médica o MIPRES</strong><br>
                    Tener a la mano formula médica o MIPRES (No PBS).
                    Necesitamos una imagen de ella.</p>
            </div>
            <div class="img">
                <img class="vist2" src="{% static 'img/IconUbicacion.jpg' %}" alt="">
                <p class="vist2"><strong>3.Lugar de entrega del domicilio</strong><br>
                    Nos informas el lugar donde quieres recibir tu domicilio.
                    (aplica solo para el departamento del ATLANTICO).</p>
            </div>
            <div class="img">
                <img class="vist2" src="{% static 'img/IconWhatsApp.jpg' %}" alt="">
                <p class="vist2"><strong>4.Número de celular (WhatsApp)</strong><br>
                    Lo usaremos para informarte cuando el domicilio este en camino.
                </p>
            </div>
        </nav>

        <button class="btn" type="submit">Continuar</button>
    </form>
</section>
{% endblock %}
