{% extends "base/base.html" %}
{% load static %}
{% load my_filters %}
{% block title %}Autorización de servicio{% endblock %}

{% block js %}
<script>
    /**
     * Handles the click event for the "Atrás" button.
     * Navigates to '/prueba' if the current URL contains 'mutualser',
     * otherwise reloads the current page.
     */
    function handleBackButtonClick() {
        console.log(window.location.href)
        const currentUrl = window.location.href;

        // Check if the current URL contains the string "mutualser"
        if (currentUrl.includes('mutualser')) {
            // If "mutualser" is found, navigate to '/'
            window.location.href = '/';

        } else if (currentUrl.includes('?s')){
            history.back() ;
        } else {
            // Otherwise, reload the current page
            location.reload();
        }
    }
</script>
{% endblock %}

{% block content %}
<section class="vista3">
    <form id="form-id" action="" method="post">

        <button class="continuar" name=""
            type="submit" value="" onclick="animabotoncarga_autorizacion()">
            <p class="text_continuar">Continuar <i class="fa-solid fa-chevron-right"></i></p>
        </button>

        {% csrf_token %}
        {{ wizard.management_form }}

        <a href="#" class="atras" onclick="handleBackButtonClick(); return false;">
            <p class="b_atras"><i class="fa-solid fa-chevron-left"></i> Atrás</p>
        </a>
        <div class="vist1">
            <img class="img1" src="{% static 'img/LogLogifarma.png' %}" alt="">
        </div>

        {% if form.errors %}
            {% include "modals/base.html" with modal_context=form|get_modal_context  %}
        {% endif %}

        {% if wizard.form.forms %}
            <!--NOTHING-->
            {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form.as_table }}
                {% endfor %}
        {% else %}
            <div class="box-select-input">
                <div class="label-and-select">
                    <label>{{wizard.form.tipo_identificacion.label}}</label>
                    {{ wizard.form.tipo_identificacion }}
                </div>
                <div class="input-effect">
                    {{ wizard.form.identificacion }}
                    <label>{{wizard.form.identificacion.label}}</label>
                </div>
            </div>
        {% endif %}

        <button class="btn" id="btn_conti" type="submit">
            <span class="btn-text">Continuar</span>
            <span class="loader" style="display: none;"></span>
        </button>
    </form>
    <div class="conten-progreso-global">
        <div class="pagina">Paso {{ wizard.steps.step1 }} de 7</div>
        <div class="contenedor">
            <div class="progreso-contenedor">
               <div class="progreso" id="progreso"></div>
               <div class="circulo active"></div>
               <div class="circulo"></div>
               <div class="circulo"></div>
               <div class="circulo"></div>
               <div class="circulo"></div>
               <div class="circulo"></div>
            </div>
        </div>
      </div>

</section>
{% endblock %}